{% extends 'base.html.twig' %}

{% block title %}Hello RegistrationController!{% endblock %}

{% block body %}
    {{ form(form) }}
{# <style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<h1>Register Form</h1>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">{{ 'Registration'|trans }}</div>
                    <div class="card-body">
                        <form method="post">
                            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                            <label for="inputNom">Nom</label>
                            <input type="text" value="" name="nom" id="inputNom" class="form-control" required autofocus>
                            <label for="inputPrenom">Prenom</label>
                            <input type="text" value="" name="prenom" id="inputPrenom" class="form-control" required autofocus>
                            <label for="inputEmail">Adresse mail</label>
                            <input type="email" value="" name="email" id="inputEmail" class="form-control" required autofocus>
                            <label for="inputIdentifiant">Identifiant</label>
                            <input type="text" value="" name="identifiant" id="inputIdentifiant" class="form-control" required autofocus>
                            <label for="inputPassword">Mot de passe</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" required>
                            <input type="hidden" name="_csrf_token"
                                value="{{ csrf_token('authenticate') }}"
                            >
                            <button class="btn btn-lg btn-primary mt-3 mb-1" type="submit">
                                Sign in
                            </button>
                            <div class="mt-2 ml-1">
                                <a href="{{ path('app_login') }}">Login page</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    
{% if form is defined %}
    {{ form(form) }}

    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="form-control">
    <i class="fa fa-calendar"></i> {{ form_label(form.dueDate) }}
    {{ form_widget(form.dueDate) }}

    <small>{{ form_help(form.dueDate) }}</small>

    <div class="form-error">
        {{ form_errors(form.dueDate) }}
    </div>
</div>

    {{ form_row(form.category) }}
    {{ form_row(form.comment) }}
    {{ form_end(form) }}
     <h1>Register Foooooorm</h1>
    {{ form_start(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}
        {{ form_row(form.confirm_password) }}
        {{ form_row(form.terms_accepted) }}
        {{ form_row(form.submit) }}
    {{ form_end(form) }}

{% endif %} 

    
</div>#}
{% endblock %}
